In [47]:
#IMPORTING THE DATA CLEANING LIBRARIES FOR PYTHON
import numpy as np # linear algebra
import pandas as pd # data processing

In [96]:
#Loading the dataset to be cleaned
fifa =pd.read_csv('/kaggle/input/fifa-21-messy-raw-dataset-for-cleaning-exploring/fifa21 raw data v2.csv',low_memory=False)
fifa.head(5)

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [49]:
#GETTING INFORMATION ON THE DATASET
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [94]:
fifa.Name.unique()

array(['L. Messi', 'Cristiano Ronaldo', 'J. Oblak', ..., 'R. McKinley',
       "Wang Zhen'ao", 'Zhou Xiao'], dtype=object)

In [51]:
#Renaming the column LongName as FullName
fifa = fifa.rename(columns={'LongName':'FullName'})

In [52]:
#DROPPING SOME COLUMNS IN THE DATASET
fifa.drop(fifa.columns [[3,4,18]],axis = 1,inplace = True)
fifa

,ID,Name,FullName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",...,High,Medium,5 ★,91,85,86,94,36,59,595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,China PR,21,47,55,\n\n\n\nWuhan Zall,2018 ~ 2022,CB,...,Medium,Medium,1 ★,64,28,26,38,48,51,NaN
18975,258760,B. Hough,Ben Hough,England,17,47,67,\n\n\n\nOldham Athletic,2020 ~ 2021,CM,...,Medium,Medium,1 ★,64,40,48,49,35,45,NaN
18976,252757,R. McKinley,Ronan McKinley,England,18,47,65,\n\n\n\nDerry City,2019 ~ 2020,CM,...,Medium,Medium,1 ★,63,39,44,46,40,53,NaN
18977,243790,Wang Zhen'ao,Zhen'ao Wang,China PR,20,47,57,\n\n\n\nDalian YiFang FC,2020 ~ 2022,RW,...,Medium,Medium,1 ★,58,49,41,49,30,44,NaN
18978,252520,Zhou Xiao,Xiao Zhou,China PR,21,47,57,\n\n\n\nDalian YiFang FC,2019 ~ 2023,"CB, LB",...,Medium,Medium,1 ★,62,22,39,42,45,55,NaN

In [53]:
fifa.isnull().sum()

ID                0
Name              0
FullName          0
Nationality       0
Age               0
               ...
PAS               0
DRI               0
DEF               0
PHY               0
Hits           2595
Length: 74, dtype: int64

In [54]:
#The Hits column has some null values so we fill it up with zeros and we simply cannot drop the column in this analysis
fifa.Hits = fifa.Hits.fillna('0')
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   FullName          18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Age               18979 non-null  int64
 5   ↓OVA              18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Club              18979 non-null  object
 8   Contract          18979 non-null  object
 9   Positions         18979 non-null  object
 10  Height            18979 non-null  object
 11  Weight            18979 non-null  object
 12  Preferred Foot    18979 non-null  object
 13  BOV               18979 non-null  int64
 14  Best Position     18979 non-null  object
 15  Joined            18979 non-null  object
 16  Value             18979 non-null  object
 17  Wage              18979 non-null  object
 18  Release Clause    18979 non-null  object
 19  Attacking         18979 non-null  int64
 20  Crossing          18979 non-null  int64
 21  Finishing         18979 non-null  int64
 22  Heading Accuracy  18979 non-null  int64
 23  Short Passing     18979 non-null  int64
 24  Volleys           18979 non-null  int64
 25  Skill             18979 non-null  int64
 26  Dribbling         18979 non-null  int64
 27  Curve             18979 non-null  int64
 28  FK Accuracy       18979 non-null  int64
 29  Long Passing      18979 non-null  int64
 30  Ball Control      18979 non-null  int64
 31  Movement          18979 non-null  int64
 32  Acceleration      18979 non-null  int64
 33  Sprint Speed      18979 non-null  int64
 34  Agility           18979 non-null  int64
 35  Reactions         18979 non-null  int64
 36  Balance           18979 non-null  int64
 37  Power             18979 non-null  int64
 38  Shot Power        18979 non-null  int64
 39  Jumping           18979 non-null  int64
 40  Stamina           18979 non-null  int64
 41  Strength          18979 non-null  int64
 42  Long Shots        18979 non-null  int64
 43  Mentality         18979 non-null  int64
 44  Aggression        18979 non-null  int64
 45  Interceptions     18979 non-null  int64
 46  Positioning       18979 non-null  int64
 47  Vision            18979 non-null  int64
 48  Penalties         18979 non-null  int64
 49  Composure         18979 non-null  int64
 50  Defending         18979 non-null  int64
 51  Marking           18979 non-null  int64
 52  Standing Tackle   18979 non-null  int64
 53  Sliding Tackle    18979 non-null  int64
 54  Goalkeeping       18979 non-null  int64
 55  GK Diving         18979 non-null  int64
 56  GK Handling       18979 non-null  int64
 57  GK Kicking        18979 non-null  int64
 58  GK Positioning    18979 non-null  int64
 59  GK Reflexes       18979 non-null  int64
 60  Total Stats       18979 non-null  int64
 61  Base Stats        18979 non-null  int64
 62  W/F               18979 non-null  object
 63  SM                18979 non-null  object
 64  A/W               18979 non-null  object
 65  D/W               18979 non-null  object
 66  IR                18979 non-null  object
 67  PAC               18979 non-null  int64
 68  SHO               18979 non-null  int64
 69  PAS               18979 non-null  int64
 70  DRI               18979 non-null  int64
 71  DEF               18979 non-null  int64
 72  PHY               18979 non-null  int64
 73  Hits              18979 non-null  object
dtypes: int64(54), object(20)
memory usage: 10.7+ MB

**WORKING ON THE JOINED COLUMN**

In [55]:
from datetime import datetime
fifa['Joined']

0         Jul 1, 2004
1        Jul 10, 2018
2        Jul 16, 2014
3        Aug 30, 2015
4         Aug 3, 2017
             ...
18974    Jul 13, 2018
18975     Aug 1, 2020
18976     Mar 8, 2019
18977    Sep 22, 2020
18978    Jul 29, 2019
Name: Joined, Length: 18979, dtype: object

In [56]:
def month_to_number(x):
            if x== 'Jan':
                return 1
            elif x == 'Feb':
                return 2
            elif x == 'Mar': 
                return 3
            elif x == 'Apr':
                return 4
            elif x == 'May':
                return 5
            elif x == 'Jun': 
                return 6
            elif x == 'Jul': 
                return 7
            elif x == 'Aug': 
                return 8
            elif x == 'Sep': 
                return 9
            elif x == 'Oct': 
                return 10
            elif x == 'Nov':  
                return 11
            elif x == 'Dec':  
                return 12

In [57]:
date = []
for x in range(len(fifa['Joined'])):
    d = fifa['Joined'][x]
    c = d.split(" ")
    month = str(month_to_number(c[0]))
    day = str(c[1].replace(',',''))
    year = str(c[2])
    if len(day) == 1:
        day = ('0'+str(day))
    date_long = (str(month)+'/'+str(day)+'/'+str(year))
    date_con = pd.to_datetime(date_long)
    date.append(date_con)
fifa['Joined'] = date
fifa['Joined']

0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2015-08-30
4       2017-08-03
           ...
18974   2018-07-13
18975   2020-08-01
18976   2019-03-08
18977   2020-09-22
18978   2019-07-29
Name: Joined, Length: 18979, dtype: datetime64[ns]

In [58]:
fifa.head()

,ID,Name,FullName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",...,High,Medium,5 ★,91,85,86,94,36,59,595

In [59]:
#TO ENSURE CONSISTENCY IN NAMING, OVA IS REMANED
fifa = fifa.rename(columns = {'↓OVA': 'OVA'})

In [60]:
#Cleaning up the club dataset
fifa['Club']= fifa['Club'].str.replace('\n\n\n\n','')
fifa.tail(6)

,ID,Name,FullName,Nationality,Age,OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
18973,258736,V. Da Silva,Vani Da Silva,England,17,47,67,Oldham Athletic,2020 ~ 2021,ST,...,Medium,Medium,1 ★,70,46,40,53,16,40,0
18974,247223,Xia Ao,Ao Xia,China PR,21,47,55,Wuhan Zall,2018 ~ 2022,CB,...,Medium,Medium,1 ★,64,28,26,38,48,51,0
18975,258760,B. Hough,Ben Hough,England,17,47,67,Oldham Athletic,2020 ~ 2021,CM,...,Medium,Medium,1 ★,64,40,48,49,35,45,0
18976,252757,R. McKinley,Ronan McKinley,England,18,47,65,Derry City,2019 ~ 2020,CM,...,Medium,Medium,1 ★,63,39,44,46,40,53,0
18977,243790,Wang Zhen'ao,Zhen'ao Wang,China PR,20,47,57,Dalian YiFang FC,2020 ~ 2022,RW,...,Medium,Medium,1 ★,58,49,41,49,30,44,0
18978,252520,Zhou Xiao,Xiao Zhou,China PR,21,47,57,Dalian YiFang FC,2019 ~ 2023,"CB, LB",...,Medium,Medium,1 ★,62,22,39,42,45,55,0

**The next Column to clean is the contract**

In [61]:
fifa.Contract.unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

**Observations: Some players are on contract while some are on loan, in other to make the column type uniform, we give players with active contract as active while the ones on loan should be categorized as on loan and others free agents**

In [62]:
# define a function to change the values with 'on loan' as an "On loan" category
# define the players with active loans as Active and they can be located easily cause they contain '~'
def contract(a):
    if "On Loan" in a:
        a = 'ON LOAN'
        return a
    elif '~' in a:
        a = 'ACTIVE'
        return a
    elif 'Free' in a:
        a = "FREE"
        return a

In [63]:
fifa.Contract = fifa.Contract.apply(contract)
fifa.Contract = fifa.Contract.astype('category')
# Rename the column to Contract status
fifa = fifa.rename(columns={'Contract':'ContractStatus'})
fifa.head()

,ID,Name,FullName,Nationality,Age,OVA,POT,Club,ContractStatus,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,ACTIVE,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,ACTIVE,"ST, LW",...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,ACTIVE,GK,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,ACTIVE,"CAM, CM",...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,ACTIVE,"LW, CAM",...,High,Medium,5 ★,91,85,86,94,36,59,595

**CLEANING UP POSITIONS COLUMN**

In [64]:
#Ordering position column leaving them in groups
temp_position = []
for x in range(len(fifa['Positions'])):
    y = sorted(fifa['Positions'][x].split(" "))
    yx = ' '.join(y)
    temp_position.append(yx)

fifa['Positions'] = temp_position
fifa['Positions'] = fifa['Positions'].astype(object)
fifa['Positions'].unique()

array(['CF RW, ST,', 'LW ST,', 'GK', 'CAM, CM', 'CAM LW,', 'ST', 'RW',
       'LW, RW ST,', 'CB', 'LW', 'CDM', 'CF, ST', 'LW, RW', 'CDM, CM',
       'CDM, RB', 'CAM CF,', 'LW, ST', 'CM', 'CF, LW ST,', 'CAM LM, RM,',
       'RB', 'CAM, CM RW,', 'LB', 'CF LM,', 'CF', 'LW RW,', 'CAM, RM, RW',
       'CDM CM,', 'CAM, CF, ST', 'CAM CDM, CM,', 'CAM CF, LW,',
       'CAM, CF RM,', 'LM, ST', 'LM, RM, RW', 'LM', 'CAM, RW', 'CB, CDM',
       'RM RW,', 'CF LW,', 'CM, LM RM,', 'LB, LM', 'CAM, CM, RM',
       'CAM, CF CM,', 'CAM, CF', 'LM, LW RM,', 'CM LB, LM,', 'CM, LB LM,',
       'RM, RW', 'CM RM,', 'CAM, CM, LW', 'CB, LB', 'RB RM,', 'RW ST,',
       'LM, LW RW,', 'LB RB,', 'RB, RM', 'RM', 'CF LM, RM,', 'CAM, RM',
       'RB, RWB', 'CB, CDM, CM', 'CAM, RM, ST', 'LM, LW, RM', 'CAM CM,',
       'CF RM, ST,', 'LM, RM', 'CF RM,', 'LM, LWB', 'CF RM, RW,',
       'CM RB,', 'CAM, LW, RW', 'CAM, CM LW,', 'CAM, CDM CM,',
       'CAM LW, RW,', 'CAM, CM, LM', 'CM, RM, ST', 'CDM, CM, RB',
       'CAM ST,', 'CAM, LW, ST', 'CB, LB, LWB', 'RM, ST', 'CB, CDM, LB',
       'RM RWB,', 'CM, LM, RM', 'CDM, CM RB,', 'LW, RM RW,', 'LM, LW',
       'CM, LM', 'LB LM,', 'LB, LM, RM', 'LW, RM ST,', 'CAM, CM, ST',
       'CF ST,', 'LB LWB,', 'LM LW, RW,', 'RM, RW, ST', 'LWB',
       'CAM CF, ST,', 'CAM, LM, RM', 'CB RB,', 'LM ST,', 'CAM RW,',
       'CAM LM,', 'RB RWB,', 'LW RW, ST,', 'CAM', 'RB, RM, RW', 'LB, LWB',
       'CAM RM,', 'CAM, ST', 'CB CDM,', 'CF, LM, LW', 'CAM, LM, LW',
       'CB, RB', 'CB, RB, RWB', 'LM, LW, ST', 'CM LW, ST,', 'CAM, CM RM,',
       'CDM CM, LM,', 'LB, LM, LWB', 'CB, LB, RB', 'CAM, LW',
       'RB, RM RWB,', 'RW, ST', 'LM LW,', 'CM RB, RM,', 'CAM, RW ST,',
       'CM, LB RB,', 'RB, RW', 'CM LM,', 'CM LM, RM,', 'CB CDM, CM,',
       'CF CM,', 'CF, LW, RW', 'RM ST,', 'CB LB,', 'RW, RWB',
       'LM, RM ST,', 'RB RM, RWB,', 'CAM LM, ST,', 'CAM, CF ST,',
       'CM LW,', 'LB RB, RWB,', 'LM RM,', 'CAM LW, ST,', 'CAM RM, RW,',
       'CDM, CM, RM', 'RB, RM, RWB', 'CAM, LM ST,', 'CF, RW',
       'CAM, LW RM,', 'CDM CM, RM,', 'LB, LM LWB,', 'CF LW, RW,',
       'CAM LM, LW,', 'LB LW, LWB,', 'CDM, CM, LM', 'CB, CM',
       'RB RW, RWB,', 'RM RW, ST,', 'CM LW, RW,', 'LB, RB', 'LB LM, RB,',
       'LM RM, ST,', 'CF, CM', 'CB, LB, LM', 'RM, RWB', 'LB, LM, RB',
       'CB LB, RB,', 'CM LB,', 'CAM, CF, LW', 'LWB RM,', 'CF, LM ST,',
       'CF, LW, ST', 'CAM RM, ST,', 'LW, RW, ST', 'LM LW, ST,', 'CM, LW',
       'CDM, CM, LB', 'CAM CM, RM,', 'CAM CM, LM,', 'RWB', 'CAM, CM LM,',
       'CAM, LM RM,', 'CAM LB, LM,', 'CAM, CDM', 'RB, RM RW,',
       'RM, RW ST,', 'CF, RW ST,', 'LM, RB RM,', 'CB, RB, RM', 'CDM RB,',
       'CB LB, LWB,', 'CDM, LB', 'LM, RM, ST', 'LWB RB, RWB,',
       'CAM CF, LM,', 'CAM, CF, RW', 'LB RB, RM,', 'CDM, RWB',
       'CAM CM, RW,', 'LM, RM, RWB', 'LB, RB, RM', 'LB LM, LW,',
       'CAM, LM', 'LM, LW ST,', 'CF, LW', 'CM, LB, RB', 'CB, CDM RB,',
       'CB, LB RB,', 'CAM, RM RW,', 'LM LWB,', 'CF, LM LW,',
       'CAM, CF, CM', 'CB LWB,', 'CDM, CM, LW', 'CM, RM', 'LM RM, RW,',
       'LB LWB, RM,', 'LB, RB RM,', 'CF, CM, RM', 'LM, RW ST,',
       'CAM, LW ST,', 'CF LM, LW,', 'CM, LW RW,', 'CAM, RW, ST',
       'LW LWB, RW,', 'LW RM, RW,', 'RW RWB,', 'CB CM,', 'CM RM, RW,',
       'CM LWB,', 'LB LM, RM,', 'CDM, RB RM,', 'LB, RB, RWB',
       'CAM RM, RWB,', 'CAM, CF LM,', 'LW RM, ST,', 'LB RB, RW,',
       'CAM RW, ST,', 'CM, LB', 'LW, RM, RW', 'CM, RM, RW', 'CF, LM RM,',
       'CF, LM, RM', 'CAM, RM ST,', 'CF RW,', 'CAM, CDM, CM',
       'CAM, LB LM,', 'CAM, LW RW,', 'CAM CDM,', 'LB LM, LWB,', 'LB RW,',
       'CAM, CF LW,', 'CB RB, RWB,', 'LW RM,', 'CAM, LM, ST', 'CM, LWB',
       'CDM, RB, RM', 'CM, RB RM,', 'LM, LWB RM,', 'LM, RB ST,',
       'CDM LB,', 'CB, CDM CM,', 'CB, CDM LB,', 'CAM, LM LW,',
       'CAM, RB RM,', 'CM, RB, RM', 'CM, LM LW,', 'CM, LB, LM',
       'LM, RM RWB,', 'CM, RM, RWB', 'LB, LM, LW', 'RB RW,',
       'CM LM, LWB,', 'LM RB, RM,', 'CF LM, ST,', 'LWB, RM RW,',
       'CB, RWB', 'CAM LW, RM,', 'LB, LW', 'CDM, CM, ST', 'CDM CM, LB,',
       'CAM, CF, LM', 'LM, LW, RW', 'LW, LWB, RWB', 'CB, CDM, RB',
       'CAM, CM ST,', 'LW, RW, RWB', 'CM, LM, ST', 'CM, LM LWB,',
       'LB, LM LW,', 'CAM CM, RB,', 'CM, RW', 'CB, LWB', 'CAM, RB',
       'LB, LM RM,', 'CB, CM RB,', 'CM, RB, RWB', 'LB, LM RB,',
       'LB, LW, RW', 'CM LM, ST,', 'CAM, CF, RM', 'CF, RM ST,',
       'LB LM, ST,', 'CM, LB LWB,', 'LWB RM, RWB,', 'LM, LWB, RB',
       'CM, LW, ST', 'CB LB, LM,', 'CB RWB,', 'CF LW, ST,', 'RM, RWB, ST',
       'CF, CM ST,', 'LM, RW', 'LB, LWB, RB', 'CB RB, RM,',
       'LB LWB, RWB,', 'CF, RM, RW', 'CAM CF, RM,', 'CAM, CM, RW',
       'CM, LB, LW', 'CAM CF, CM,', 'CM, RB', 'RB, RW RWB,', 'LM, RM RW,',
       'CDM CM, RB,', 'CB CDM, RB,', 'LM LW, RWB,', 'CF, LM, ST',
       'CDM, CM LM,', 'CAM CM, ST,', 'CAM, LM, RW', 'CAM, CF RW,',
       'CB, LB LWB,', 'CF, LW RW,', 'CAM CB,', 'LB LW,', 'CDM, LB RB,',
       'CM, RB ST,', 'LWB, RB RWB,', 'CB, CM, RB', 'LB, LW, RB',
       'CF, RM, RWB', 'LB, RM', 'RB RM, RW,', 'CDM, CM RM,',
       'CDM, CM LB,', 'CAM LM, RW,', 'CF, RM, ST', 'CM RW,',
       'LM RM, RWB,', 'CF, CM, ST', 'CM, LM, RW', 'CM RWB,',
       'CDM RB, RM,', 'CAM CB, CM,', 'CF, CM, LM', 'LWB, RM RWB,',
       'CF, RM', 'LWB, RWB', 'CM LW, RM,', 'RM, RWB ST,', 'CM ST,',
       'CDM, CM, RWB', 'CAM CB, ST,', 'CF, CM RM,', 'CM, LM, RB',
       'CB, LWB RB,', 'CDM LB, LM,', 'LW, LWB', 'CAM CF, RW,',
       'CAM RB, RM,', 'CM LB, RB,', 'CDM, LM RM,', 'CDM LB, RB,',
       'CDM, RM', 'CB LM, RB,', 'RM RW, RWB,', 'LW, RM, ST',
       'LB, LWB RB,', 'CDM LM, RM,', 'CF, LM', 'LW, RB RW,',
       'CDM RB, RWB,', 'CAM, CM, LB', 'LW, LWB RW,', 'CB, LWB, RWB',
       'RB, RM ST,', 'LM RW,', 'CF, RB RM,', 'CB, RB RM,', 'LWB RWB,',
       'CDM CM, ST,', 'LW LWB,', 'CB, RB, ST', 'CDM LB, LWB,',
       'CB, RM RWB,', 'CB, ST', 'CM, ST', 'CB LM, LWB,', 'LW, LWB ST,',
       'CDM, LM, RM', 'LB, LWB, RW', 'CB CM, RB,', 'LM, RW, ST',
       'CM, LW RM,', 'LM RW, ST,', 'CM, RM RWB,', 'CAM, CM RWB,',
       'CM, LM RB,', 'CM LM, LW,', 'CM, LB, ST', 'LWB ST,', 'LM RB, ST,',
       'CAM, CDM, LM', 'LM, LWB ST,', 'LB, RB, RW', 'CDM RM,',
       'CAM, LM RW,', 'CDM, LB, LM', 'LM RB, RW,', 'CB, LM', 'CM LB, RM,',
       'CAM, LW, RM', 'CDM, RB, RWB', 'CB, RW', 'CM, LM, LW',
       'CB LM, RM,', 'LM, LWB, ST', 'CB, CDM ST,', 'CB CDM, LB,',
       'CB, CDM, RM', 'CM RB, RWB,', 'CB ST,', 'LB, LM, ST', 'CB, RB ST,',
       'LM RB,', 'GK, RB', 'CAM, CB, CM', 'LM, RB', 'CAM RWB,', 'CAM RB,',
       'RB ST,', 'RWB ST,', 'CB, RB RWB,', 'LM, LWB, RM', 'CM, RWB',
       'CDM, LM', 'CAM, LB', 'RB, RM, ST', 'CDM LM,', 'CDM, RB RW,',
       'LM, LWB, RWB', 'CB RB, ST,', 'LW RB, RW,', 'CDM, ST',
       'LM LW, RM,', 'LWB RB,', 'CF LB, LM,', 'CM LB, LWB,', 'CM LB, LW,',
       'CM, RM RW,', 'CB, RM', 'CB CM, LM,', 'CM RW, ST,', 'CM RM, ST,',
       'CAM, CM, RB', 'CDM CM, RWB,', 'LB, LW LWB,'], dtype=object)

**WORKING ON THE W/F,SM and IR COLUMNS**

**The W/F,SM and IR columns have ★ in them and it should be removed**

In [65]:
#Defining afunction to help remove star
def remove_star(x):
    x = x.replace('★', '')
    return x

In [66]:
fifa.IR = fifa.IR.apply(remove_star)
fifa.SM = fifa.SM.apply(remove_star)
fifa['W/F'] = fifa['W/F'].apply(remove_star)
fifa.head()

,ID,Name,FullName,Nationality,Age,OVA,POT,Club,ContractStatus,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,ACTIVE,"CF RW, ST,",...,Medium,Low,5,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,ACTIVE,"LW ST,",...,High,Low,5,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,ACTIVE,GK,...,Medium,Medium,3,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,ACTIVE,"CAM, CM",...,High,High,4,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,ACTIVE,"CAM LW,",...,High,Medium,5,91,85,86,94,36,59,595

The next step is to clean the Height and Weight columns as they are both cast as an object type

In [67]:
fifa.Height.unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

Notice from the data, we have "cm" and also \'"

In [68]:
def convert_height(x):
    if x[-1] == '"':
        x = x.replace("\"","")
        inch = int(x[2:]) * 2.54
        foot = int(x[0]) * 30.48
        return round(foot+inch)
    elif x[-1] == "m":
        return int(x[:-2])

In [69]:
fifa.Height = fifa.Height.apply(convert_height)
fifa.Height.unique()

array([170, 187, 188, 181, 175, 184, 191, 178, 193, 185, 199, 173, 168,
       176, 177, 183, 180, 189, 179, 195, 172, 182, 186, 192, 165, 194,
       167, 196, 163, 190, 174, 169, 171, 197, 200, 166, 164, 198, 201,
       158, 162, 161, 160, 203, 157, 156, 202, 159, 206, 155])

In [70]:
fifa = fifa.rename(columns={'Height':'Height_cm'})

In [71]:
fifa.Weight.unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [72]:
def weight_kg(x):
    if 'lbs' in x:
        x = x.replace('lbs','')
        x = float(x) * 0.45359237
        x = int(x)
        return x
    else:
        return int(x[:-2])

In [73]:
fifa.Weight = fifa.Weight.apply(weight_kg)
fifa = fifa.rename(columns={'Weight':'Weight_cm'})

**The next task is to clean up the release column and remame the column**

In [74]:
fifa["Release Clause"].unique()

array(['€138.4M', '€75.9M', '€159.4M', ..., '€59K', '€35K', '€64K'],
      dtype=object)

In [75]:
def release(x):
    if 'M' in x:
        x = x.replace('M', '')
        x = float(x[1:]) * 1000000
        return round(x)
    elif "K" in x:
        x = x.replace('K', '')
        x = float(x[1:]) * 1000
        return round(x)
    else:
        return x

In [76]:
fifa["Release Clause"] = fifa["Release Clause"].apply(release)
fifa["Release Clause"].unique()

array([138400000, 75900000, 159400000, ..., 59000, 35000, 64000],
      dtype=object)

In [77]:
fifa = fifa.rename(columns={'Release Clause':'Release Clause_€'})

**WAGE**

In [78]:
fifa['Wage'].unique()

array(['€560K', '€220K', '€125K', '€370K', '€270K', '€240K', '€250K',
       '€160K', '€260K', '€210K', '€310K', '€130K', '€350K', '€300K',
       '€190K', '€145K', '€195K', '€100K', '€140K', '€290K', '€82K',
       '€110K', '€230K', '€155K', '€200K', '€165K', '€95K', '€170K',
       '€105K', '€115K', '€150K', '€135K', '€55K', '€58K', '€81K', '€34K',
       '€120K', '€59K', '€90K', '€65K', '€56K', '€71K', '€18K', '€75K',
       '€47K', '€20K', '€84K', '€86K', '€74K', '€78K', '€27K', '€68K',
       '€85K', '€25K', '€46K', '€83K', '€54K', '€79K', '€175K', '€43K',
       '€49K', '€45K', '€38K', '€41K', '€39K', '€23K', '€51K', '€50K',
       '€87K', '€30K', '€14K', '€69K', '€31K', '€64K', '€53K', '€35K',
       '€21K', '€28K', '€17K', '€33K', '€70K', '€32K', '€89K', '€26K',
       '€40K', '€76K', '€72K', '€48K', '€36K', '€29K', '€60K', '€16K',
       '€37K', '€24K', '€52K', '€0', '€62K', '€73K', '€63K', '€19K',
       '€1K', '€66K', '€80K', '€12K', '€2K', '€42K', '€13K', '€900',
       '€57K', '€77K', '€61K', '€22K', '€67K', '€44K', '€15K', '€11K',
       '€8K', '€850', '€10K', '€88K', '€500', '€7K', '€6K', '€9K', '€5K',
       '€700', '€950', '€750', '€3K', '€650', '€600', '€4K', '€800',
       '€550'], dtype=object)

In [79]:
def wage(x):
    if 'K' in x:
        x = x.replace('K', '')
        x = int(x[1:]) * 1000
        return round(x)
    else:
        return int(x[1:])

In [80]:
fifa.Wage = fifa.Wage.apply(wage)

In [81]:
fifa.Wage.unique()

array([560000, 220000, 125000, 370000, 270000, 240000, 250000, 160000,
       260000, 210000, 310000, 130000, 350000, 300000, 190000, 145000,
       195000, 100000, 140000, 290000,  82000, 110000, 230000, 155000,
       200000, 165000,  95000, 170000, 105000, 115000, 150000, 135000,
        55000,  58000,  81000,  34000, 120000,  59000,  90000,  65000,
        56000,  71000,  18000,  75000,  47000,  20000,  84000,  86000,
        74000,  78000,  27000,  68000,  85000,  25000,  46000,  83000,
        54000,  79000, 175000,  43000,  49000,  45000,  38000,  41000,
        39000,  23000,  51000,  50000,  87000,  30000,  14000,  69000,
        31000,  64000,  53000,  35000,  21000,  28000,  17000,  33000,
        70000,  32000,  89000,  26000,  40000,  76000,  72000,  48000,
        36000,  29000,  60000,  16000,  37000,  24000,  52000,      0,
        62000,  73000,  63000,  19000,   1000,  66000,  80000,  12000,
         2000,  42000,  13000,    900,  57000,  77000,  61000,  22000,
        67000,  44000,  15000,  11000,   8000,    850,  10000,  88000,
          500,   7000,   6000,   9000,   5000,    700,    950,    750,
         3000,    650,    600,   4000,    800,    550])

In [82]:
fifa = fifa.rename(columns={'Wage':'Wage €'})

**VALUE**

In [83]:
fifa.Value.unique()

array(['€103.5M', '€63M', '€120M', '€129M', '€132M', '€111M', '€120.5M',
       '€102M', '€185.5M', '€110M', '€113M', '€90.5M', '€82M', '€17.5M',
       '€83.5M', '€33.5M', '€114.5M', '€78M', '€103M', '€109M', '€92M',
       '€10M', '€76.5M', '€89.5M', '€87.5M', '€79.5M', '€124M', '€114M',
       '€95M', '€92.5M', '€105.5M', '€88.5M', '€85M', '€81.5M', '€26M',
       '€21M', '€56M', '€67.5M', '€53M', '€36.5M', '€51M', '€65.5M',
       '€46.5M', '€61.5M', '€72.5M', '€77.5M', '€43.5M', '€32.5M', '€36M',
       '€32M', '€54M', '€49.5M', '€57M', '€66.5M', '€74.5M', '€71.5M',
       '€121M', '€99M', '€67M', '€86.5M', '€93.5M', '€70M', '€62M',
       '€66M', '€58M', '€44M', '€81M', '€37M', '€14.5M', '€46M', '€47.5M',
       '€52.5M', '€54.5M', '€34.5M', '€57.5M', '€51.5M', '€44.5M', '€55M',
       '€48M', '€60.5M', '€63.5M', '€61M', '€29M', '€58.5M', '€55.5M',
       '€42M', '€40.5M', '€43M', '€45.5M', '€34M', '€26.5M', '€42.5M',
       '€35.5M', '€45M', '€41.5M', '€40M', '€11M', '€13.5M', '€29.5M',
       '€27M', '€15.5M', '€38.5M', '€52M', '€33M', '€19M', '€73.5M',
       '€38M', '€35M', '€47M', '€24M', '€30.5M', '€18M', '€28M', '€25.5M',
       '€25M', '€31M', '€23.5M', '€30M', '€31.5M', '€22.5M', '€28.5M',
       '€4M', '€12.5M', '€37.5M', '€27.5M', '€16M', '€15M', '€20.5M',
       '€22M', '€3.4M', '€5M', '€56.5M', '€62.5M', '€0', '€39M', '€24.5M',
       '€21.5M', '€13M', '€8M', '€20M', '€8.5M', '€2.9M', '€9M', '€4.6M',
       '€50M', '€23M', '€18.5M', '€7M', '€19.5M', '€5.5M', '€7.5M',
       '€3.8M', '€14M', '€10.5M', '€16.5M', '€3.6M', '€9.5M', '€39.5M',
       '€17M', '€12M', '€11.5M', '€4.9M', '€3M', '€1.9M', '€6.5M',
       '€1.7M', '€2.4M', '€3.1M', '€6M', '€3.7M', '€4.7M', '€4.3M',
       '€2.1M', '€1.2M', '€1.8M', '€4.8M', '€3.2M', '€1.3M', '€825K',
       '€2.3M', '€1.5M', '€3.9M', '€2.6M', '€3.5M', '€2.8M', '€2.7M',
       '€4.4M', '€4.1M', '€950K', '€1.6M', '€625K', '€1.1M', '€4.5M',
       '€4.2M', '€2.2M', '€3.3M', '€1.4M', '€2M', '€475K', '€925K',
       '€750K', '€725K', '€2.5M', '€1M', '€350K', '€525K', '€600K',
       '€850K', '€800K', '€550K', '€250K', '€400K', '€425K', '€575K',
       '€210K', '€325K', '€900K', '€875K', '€650K', '€700K', '€500K',
       '€975K', '€375K', '€775K', '€275K', '€180K', '€450K', '€675K',
       '€150K', '€240K', '€300K', '€130K', '€220K', '€200K', '€110K',
       '€170K', '€230K', '€90K', '€120K', '€80K', '€190K', '€140K',
       '€160K', '€100K', '€60K', '€50K', '€70K', '€45K', '€35K', '€40K',
       '€25K', '€20K', '€15K', '€30K', '€9K'], dtype=object)

In [84]:
def value(x):
    if 'M' in x:
        x = x.replace('M', '')
        x = float(x[1:]) * 1000000
        return round(x)
    elif "K" in x:
        x = x.replace('K', '')
        x = float(x[1:]) * 1000
        return round(x)
    else:
        return int(x[1:])

In [85]:
fifa.Value = fifa.Value.apply(value)

In [86]:
#Rename the value column to value with the Euro sign
fifa = fifa.rename(columns={'Value':'Value €'})

**HITS**

In [87]:
fifa.Hits.unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', '1.6K',
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', '1.1K', '433', '242', '206', '177', '1.5K', '198', '459',
       '117', '119', '209', '84', '187', '165', '203', '65', '336', '126',
       '313', '124', '145', '538', '182', '101', '45', '377', '99', '194',
       '403', '414', '593', '374', '245', '3.2K', '266', '299', '309',
       '215', '265', '211', '112', '337', '70', '159', '688', '116', '63',
       '144', '123', '71', '224', '113', '168', '61', '89', '137', '278',
       '75', '148', '176', '197', '264', '214', '247', '402', '440',
       '1.7K', '2.3K', '171', '320', '657', '87', '259', '200', '255',
       '253', '196', '60', '97', '85', '169', '256', '132', '239', '166',
       '121', '109', '32', '46', '122', '48', '527', '199', '282', '51',
       '1.9K', '642', '155', '323', '288', '497', '509', '79', '49',
       '270', '511', '80', '128', '115', '156', '204', '143', '140',
       '152', '220', '134', '225', '94', '74', '135', '142', '50', '77',
       '40', '107', '193', '179', '34', '64', '453', '57', '81', '28',
       '78', '133', '43', '425', '88', '42', '36', '233', '376', '210',
       '444', '100', '263', '98', '29', '160', '39', '257', '6', '310',
       '138', '62', '293', '285', '362', '66', '69', '58', '21', '20',
       '131', '38', '406', '68', '108', '110', '93', '512', '443', '306',
       '352', '422', '585', '346', '178', '841', '76', '394', '72', '172',
       '44', '407', '230', '367', '295', '157', '243', '56', '111', '326',
       '679', '18', '92', '59', '25', '184', '53', '12', '90', '55', '73',
       '11', '566', '180', '83', '262', '17', '26', '31', '280', '359',
       '213', '297', '387', '480', '381', '677', '486', '8', '244', '129',
       '388', '275', '319', '2K', '52', '91', '421', '153', '27', '41',
       '222', '35', '102', '23', '30', '33', '146', '13', '19', '14',
       '106', '276', '568', '353', '47', '478', '249', '254', '369',
       '219', '565', '237', '227', '434', '375', '162', '605', '654', '3',
       '7', '9', '104', '114', '186', '446', '756', '22', '139', '500',
       '67', '147', '149', '16', '82', '54', '37', '15', '1.3K', '3K',
       '952', '5', '749', '541', '330', '393', '517', '770', '409', '170',
       '125', '283', '342', '363', '580', '105', '217', '24', '141', '10',
       '427', '158', '426', '4', '666', '181', '324', '979', '1.4K',
       '302', '751', '298', '411', '944', '2', '947', '292', '349', '621',
       '1', '2.8K', '338', '287', '261', '218', '1.8K', '240', '279',
       '229', '188', '315', '664', '613', '190', '706', '127', '462',
       '386', '695', '491', '167', '281', '250', '307', '95', '231',
       '174', '680', '633', '221', '348', '602', '183', '653', '195',
       '164', '151', '258', '8.4K', '343', '419', '655', '136', '399',
       '531', '357', '228', '385', '312', '340', '238', '487', '355',
       '499', '4.3K', '296', '515', '943', '1.2K', '903', '335', '191',
       '594', '267', '617', '516', '504', '331', '652', '410', '550',
       '473', '442', '344', '208', '1K', '2.5K', '273', '485', '826',
       '192', '405', '941', '477', '644', '303', '417', '6K', '0'],
      dtype=object)

**Observations: You will notice that some data has K in them, we will need to clean it**

In [88]:
# define a function to replace K with an empty string and turn the value to a float so it can be added to 1000
def hitchange(h):
    if "K" in h:
        h = h.replace('K', "")
        h = float(h)* 1000
        return round(h)
    else:
        return h

In [89]:
fifa.Hits = fifa.Hits.apply(hitchange)
fifa.Hits.unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', 1600,
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', 1100, '433', '242', '206', '177', 1500, '198', '459', '117',
       '119', '209', '84', '187', '165', '203', '65', '336', '126', '313',
       '124', '145', '538', '182', '101', '45', '377', '99', '194', '403',
       '414', '593', '374', '245', 3200, '266', '299', '309', '215',
       '265', '211', '112', '337', '70', '159', '688', '116', '63', '144',
       '123', '71', '224', '113', '168', '61', '89', '137', '278', '75',
       '148', '176', '197', '264', '214', '247', '402', '440', 1700, 2300,
       '171', '320', '657', '87', '259', '200', '255', '253', '196', '60',
       '97', '85', '169', '256', '132', '239', '166', '121', '109', '32',
       '46', '122', '48', '527', '199', '282', '51', 1900, '642', '155',
       '323', '288', '497', '509', '79', '49', '270', '511', '80', '128',
       '115', '156', '204', '143', '140', '152', '220', '134', '225',
       '94', '74', '135', '142', '50', '77', '40', '107', '193', '179',
       '34', '64', '453', '57', '81', '28', '78', '133', '43', '425',
       '88', '42', '36', '233', '376', '210', '444', '100', '263', '98',
       '29', '160', '39', '257', '6', '310', '138', '62', '293', '285',
       '362', '66', '69', '58', '21', '20', '131', '38', '406', '68',
       '108', '110', '93', '512', '443', '306', '352', '422', '585',
       '346', '178', '841', '76', '394', '72', '172', '44', '407', '230',
       '367', '295', '157', '243', '56', '111', '326', '679', '18', '92',
       '59', '25', '184', '53', '12', '90', '55', '73', '11', '566',
       '180', '83', '262', '17', '26', '31', '280', '359', '213', '297',
       '387', '480', '381', '677', '486', '8', '244', '129', '388', '275',
       '319', 2000, '52', '91', '421', '153', '27', '41', '222', '35',
       '102', '23', '30', '33', '146', '13', '19', '14', '106', '276',
       '568', '353', '47', '478', '249', '254', '369', '219', '565',
       '237', '227', '434', '375', '162', '605', '654', '3', '7', '9',
       '104', '114', '186', '446', '756', '22', '139', '500', '67', '147',
       '149', '16', '82', '54', '37', '15', 1300, 3000, '952', '5', '749',
       '541', '330', '393', '517', '770', '409', '170', '125', '283',
       '342', '363', '580', '105', '217', '24', '141', '10', '427', '158',
       '426', '4', '666', '181', '324', '979', 1400, '302', '751', '298',
       '411', '944', '2', '947', '292', '349', '621', '1', 2800, '338',
       '287', '261', '218', 1800, '240', '279', '229', '188', '315',
       '664', '613', '190', '706', '127', '462', '386', '695', '491',
       '167', '281', '250', '307', '95', '231', '174', '680', '633',
       '221', '348', '602', '183', '653', '195', '164', '151', '258',
       8400, '343', '419', '655', '136', '399', '531', '357', '228',
       '385', '312', '340', '238', '487', '355', '499', 4300, '296',
       '515', '943', 1200, '903', '335', '191', '594', '267', '617',
       '516', '504', '331', '652', '410', '550', '473', '442', '344',
       '208', 1000, 2500, '273', '485', '826', '192', '405', '941', '477',
       '644', '303', '417', 6000, '0'], dtype=object)

In [90]:
#converting the datatype from object to integer
fifa['Hits'] = fifa['Hits'].astype('int64')

In [91]:
fifa.head()

,ID,Name,FullName,Nationality,Age,OVA,POT,Club,ContractStatus,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,ACTIVE,"CF RW, ST,",...,Medium,Low,5,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,ACTIVE,"LW ST,",...,High,Low,5,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,ACTIVE,GK,...,Medium,Medium,3,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,ACTIVE,"CAM, CM",...,High,High,4,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,ACTIVE,"CAM LW,",...,High,Medium,5,91,85,86,94,36,59,595

In [92]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   FullName          18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Age               18979 non-null  int64
 5   OVA               18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Club              18979 non-null  object
 8   ContractStatus    18979 non-null  category
 9   Positions         18979 non-null  object
 10  Height_cm         18979 non-null  int64
 11  Weight_cm         18979 non-null  int64
 12  Preferred Foot    18979 non-null  object
 13  BOV               18979 non-null  int64
 14  Best Position     18979 non-null  object
 15  Joined            18979 non-null  datetime64[ns]
 16  Value €           18979 non-null  int64
 17  Wage €            18979 non-null  int64
 18  Release Clause_€  18979 non-null  object
 19  Attacking         18979 non-null  int64
 20  Crossing          18979 non-null  int64
 21  Finishing         18979 non-null  int64
 22  Heading Accuracy  18979 non-null  int64
 23  Short Passing     18979 non-null  int64
 24  Volleys           18979 non-null  int64
 25  Skill             18979 non-null  int64
 26  Dribbling         18979 non-null  int64
 27  Curve             18979 non-null  int64
 28  FK Accuracy       18979 non-null  int64
 29  Long Passing      18979 non-null  int64
 30  Ball Control      18979 non-null  int64
 31  Movement          18979 non-null  int64
 32  Acceleration      18979 non-null  int64
 33  Sprint Speed      18979 non-null  int64
 34  Agility           18979 non-null  int64
 35  Reactions         18979 non-null  int64
 36  Balance           18979 non-null  int64
 37  Power             18979 non-null  int64
 38  Shot Power        18979 non-null  int64
 39  Jumping           18979 non-null  int64
 40  Stamina           18979 non-null  int64
 41  Strength          18979 non-null  int64
 42  Long Shots        18979 non-null  int64
 43  Mentality         18979 non-null  int64
 44  Aggression        18979 non-null  int64
 45  Interceptions     18979 non-null  int64
 46  Positioning       18979 non-null  int64
 47  Vision            18979 non-null  int64
 48  Penalties         18979 non-null  int64
 49  Composure         18979 non-null  int64
 50  Defending         18979 non-null  int64
 51  Marking           18979 non-null  int64
 52  Standing Tackle   18979 non-null  int64
 53  Sliding Tackle    18979 non-null  int64
 54  Goalkeeping       18979 non-null  int64
 55  GK Diving         18979 non-null  int64
 56  GK Handling       18979 non-null  int64
 57  GK Kicking        18979 non-null  int64
 58  GK Positioning    18979 non-null  int64
 59  GK Reflexes       18979 non-null  int64
 60  Total Stats       18979 non-null  int64
 61  Base Stats        18979 non-null  int64
 62  W/F               18979 non-null  object
 63  SM                18979 non-null  object
 64  A/W               18979 non-null  object
 65  D/W               18979 non-null  object
 66  IR                18979 non-null  object
 67  PAC               18979 non-null  int64
 68  SHO               18979 non-null  int64
 69  PAS               18979 non-null  int64
 70  DRI               18979 non-null  int64
 71  DEF               18979 non-null  int64
 72  PHY               18979 non-null  int64
 73  Hits              18979 non-null  int64
dtypes: category(1), datetime64[ns](1), int64(59), object(13)
memory usage: 10.6+ MB